.goods_list {
    position: relative;
    width: 1110px;
    height: auto;
    margin: 0 auto 0;
}

.goods_search_bar {
    position: relative;
    width: 1110px;
    height: auto;
    margin: 0 auto 0;
    padding: 10px 10px 10px;
    /*border: ridge 2px white;*/
}

.goods_block {
    position: static;
    float: left;
    margin: 10px 10px 10px;
    width: 350px;
    height: 320px;
    border: solid rgba(41, 128, 185, 1) 1px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .7);
}

.goods_head {
    height: 50px;
    border-bottom: solid 1px rgba(41, 128, 185, 1);
}

.goods_body {
    height: 200px;
    /*border: solid 2px black;*/
    border-bottom: solid 1px rgba(41, 128, 185, 1);
}

.goods_footer {
    text-align: center;
    width: 350px;
    height: 70px;
    padding: 2px auto 0;
}

.goods_image {
    position: static;
    margin: 10px 5px 0;
    width: 175px;
    height: 175px;
}

.goods_description {
    position: static;
    margin: -175px 185px 0;
    width: 160px;
    height: 175px;
}

.goods_name {
    content: "";
    display: block;
    clear: both;
    visibility: visible;
    text-align: center;
    /*font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;*/
    font-family: Impact, fantasy;
    font-size: large;
}

.goods_price {
    color: #7d7d7d;
}

.goods_img_block {
    width: 760px;
    height: 200px;
    margin: 0 auto 0;
    border-top: dashed black 2px;
    border-bottom: dashed black 2px;
}

.goods_view_image {
    position: static;
    float: left;
    margin: 10px 5px 0;
    width: 180px;
    height: 180px;
}

.goods_view_description {
    position: relative;
    text-align: justify;
    width: 500px;
    margin: 0 auto 0;
}

.goods_modal_btn {
    width: 150px;
    text-align: center;
    margin: 0 auto 0;
}

.goods_modal_header_text {
    margin-left: 50px;
    content: "";
    display: block;
    clear: both;
    visibility: visible;
}

.goods_count_t {
    position: absolute;
    margin: 26px 270px 0;
    font-family: Impact, fantasy;
    font-size: medium;
    z-index: 10;
}

.goods_characteristic {
    /*font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;*/
    font-family: Impact, fantasy;
    font-size: medium;
}

.goods_price_footer {
    text-align: center;
    /*font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;*/
    font-family: Impact, fantasy;
    font-size: 14px;
}

.characteristics_table {
    border: 4px;
    border-collapse: separate;
    border-spacing: 7px 11px;
    width: 625px;
}

.characteristics_info {
    text-align: left;
    font-weight: bold;
}

.characteristics_data_text {
    padding-left: 20px;
    text-align: left;
}