#nav-admin.navbar-default .navbar-brand {
    color: rgba(0, 0, 0, 1);
}
#nav-admin.navbar-default {
    font-size: 18px;
    background-color: rgba(242, 34, 34, 1);
    background: -webkit-linear-gradient(top, rgba(196, 4, 4, 1) 0%, rgba(242, 34, 34, 1) 100%);
    background: linear-gradient(to bottom, rgba(196, 4, 4, 1) 0%, rgba(242, 34, 34, 1) 100%);
    border-width: 0px;
    border-radius: 0px;
}
#nav-admin.navbar-default .navbar-nav>li>a {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(242, 34, 34, 1);
    background: -webkit-linear-gradient(top, rgba(196, 4, 4, 1) 0%, rgba(242, 34, 34, 1) 100%);
    background: linear-gradient(to bottom, rgba(196, 4, 4, 1) 0%, rgba(242, 34, 34, 1) 100%);
}
#nav-admin.navbar-default .navbar-nav>li>a:hover,
#nav-admin.navbar-default .navbar-nav>li>a:focus {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 33, 33, 1);
    background: -webkit-linear-gradient(top, rgba(255, 33, 33, 1) 0%, rgba(255, 33, 33, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 33, 33, 1) 0%, rgba(255, 33, 33, 1) 100%);
}
#nav-admin.navbar-default .navbar-nav>.active>a,
#nav-admin.navbar-default .navbar-nav>.active>a:hover,
#nav-admin.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 33, 33, 1);
    background: -webkit-linear-gradient(top, rgba(255, 33, 33, 1) 0%, rgba(255, 33, 33, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 33, 33, 1) 0%, rgba(255, 33, 33, 1) 100%);
}
#nav-admin.navbar-default .navbar-toggle {
    border-color: #ff2121;
}
#nav-admin.navbar-default .navbar-toggle:hover,
#nav-admin.navbar-default .navbar-toggle:focus {
    background-color: #ff2121;
}
#nav-admin.navbar-default .navbar-toggle .icon-bar {
    background-color: #ff2121;
}
#nav-admin.navbar-default .navbar-toggle:hover .icon-bar,
#nav-admin.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #f22222;
}